src/main/mule/cicd-demo-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5a976fda-4616-421c-90c1-c0036802ec79" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demo-applicationFlow" doc:id="fbff3526-3d33-441d-b3d2-f5b705bf6752" >
		<http:listener doc:name="Listener" doc:id="633650a3-9ad0-4c3e-840f-69077783a448" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value='#["Hi......CI/CD demo"]' doc:name="Set Payload" doc:id="3a9089cb-3c53-485e-928f-7feb81671a5b" />
	</flow>
</mule>
